<h1>welcome to Bookers !!</h1>
<p>In Bookers,</p>

<p>you can share and exchange your opinions , inpressions , and emotions</p><br />
<p>about various books!</p>

<%= link_to "Log in", 
<div class="container">
  <div class="row">

    <div class="col-lg-4" style="background-color: orange;">
      <h2 class-"text-primary">サイドバー</h2>
    </div>
  </div>
</div>
